name: Schedule


permissions:
  contents: write
jobs:
  scan-scope-schedule:
    runs-on: ubuntu-latest
    env:
      SCOPE_FOLDER: ./storage/projects
      DB_PATH: ./storage/database.db
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"


      - name: Create empty branch if not exists
        run: |
          git fetch --all --prune

          if git ls-remote --exit-code --heads origin empty > /dev/null 2>&1; then
            echo "Remote branch 'empty' already exists"
          else
            echo "Creating empty branch and pushing it to origin"
            git checkout --orphan empty
            git rm -rf . || true
            git commit --allow-empty -m "Initial empty branch"
            git push -u origin empty
          fi

      - name: Create storage branch
        run: |
          git fetch --all --prune
          if git ls-remote --exit-code --heads origin "storage" > /dev/null 2>&1; then
            echo "Remote branch storage already exists"
          else
            git checkout empty
            git checkout -b "storage"
            git push -u origin "storage"
          fi


      - name: Add storage worktree into ./storage
        run: |
          git fetch origin storage
          git worktree add storage storage




      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r engine/requirements.txt

      - name: Sync scope
        run: |
          python engine/sync_scope.py


      - name: Get latest scope to scan
        run: |
          python engine/get_latest_unscanned_scope.py > tmp_env
          LATEST_SCOPE_ID=$(cat tmp_env | grep "LATEST_SCOPE_ID" | cut -d '=' -f2)
          LATEST_SCOPE_NAME=$(cat tmp_env | grep "LATEST_SCOPE_NAME" | cut -d '=' -f2)
          LATEST_SCOPE_TYPE=$(cat tmp_env | grep "LATEST_SCOPE_TYPE" | cut -d '=' -f2)
          LATEST_SCOPE_TAG=$(cat tmp_env | grep "LATEST_SCOPE_TAG" | cut -d '=' -f2)
          rm -f tmp_env
          if [[ -z "$LATEST_SCOPE_ID" || "$LATEST_SCOPE_ID" == "None" ]]; then
            echo "No valid scope entry found. Skipping Amass scan."
            exit 0
          fi 

          echo "LATEST_SCOPE_ID=$LATEST_SCOPE_ID" >> $GITHUB_ENV
          echo "LATEST_SCOPE_NAME=$LATEST_SCOPE_NAME" >> $GITHUB_ENV
          echo "LATEST_SCOPE_TYPE=$LATEST_SCOPE_TYPE" >> $GITHUB_ENV
          echo "LATEST_SCOPE_TAG=$LATEST_SCOPE_TAG" >> $GITHUB_ENV


      - name: Run Subfinder (120s)
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          echo "Scanning $LATEST_SCOPE_NAME with Subfinder..."
          timeout 120 docker run --rm projectdiscovery/subfinder -d ${{ env.LATEST_SCOPE_NAME }} -silent | tee subfinder_results.tmp || echo "Subfinder timed out!"


      - name: Run Amass (180s Timeout)
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          echo "Scanning $LATEST_SCOPE_NAME with Amass (max 120 seconds)..."
          timeout 180 docker run --rm caffix/amass enum -d ${{ env.LATEST_SCOPE_NAME }} | tee amass_results.tmp || echo "Amass timed out!"

      - name: Merge and filter and validate subdomains
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
           cat subfinder_results.tmp amass_results.tmp | sort -u > merged_data.tmp
           echo "" > merged_data.fin.tmp
          
           while IFS= read -r line || [[ -n "$line" ]]; do
            echo "$line" | tr -s ' \t' '\n' >> "merged_data.fin.tmp"
           done < "merged_data.tmp"
           cat merged_data.fin.tmp
           python engine/filter.py ${{ env.LATEST_SCOPE_ID }} merged_data.fin.tmp > "${{ env.LATEST_SCOPE_NAME }}.domains.tmp"
           cat "${{ env.LATEST_SCOPE_NAME }}.domains.tmp"

      - name: Validate with DNSX
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
           timeout 360 docker run --rm -v "$PWD:/data" projectdiscovery/dnsx -rcode noerror  -l "/data/${{ env.LATEST_SCOPE_NAME }}.domains.tmp" -o "/data/${{ env.LATEST_SCOPE_NAME }}.dnsx.tmp" || echo "Dnsx timed out!"
           cat ${{ env.LATEST_SCOPE_NAME }}.dnsx.tmp | cut -d" " -f1 > ${{ env.LATEST_SCOPE_NAME }}.subdomains.txt



      - name: Clean TMP data
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
           rm -f *.tmp

      - name: Add subdomains to DB
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TAG != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          python engine/resource_parser.py ${{ env.LATEST_SCOPE_ID }} "${{ env.LATEST_SCOPE_NAME }}.subdomains.txt"

      - name: Move subdomains to folder
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TAG != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
           mv "${{ env.LATEST_SCOPE_NAME }}.subdomains.txt" "./storage/projects/${{ env.LATEST_SCOPE_TAG }}/${{ env.LATEST_SCOPE_NAME }}"
           python engine/resource_parser.py ${{ env.LATEST_SCOPE_ID }} "./storage/projects/${{ env.LATEST_SCOPE_TAG }}/${{ env.LATEST_SCOPE_NAME }}/${{ env.LATEST_SCOPE_NAME }}.subdomains.txt"
           echo "LATEST_SCOPE_SUBDOMAINS=./storage/projects/${{ env.LATEST_SCOPE_TAG }}/${{ env.LATEST_SCOPE_NAME }}/${{ env.LATEST_SCOPE_NAME }}.subdomains.txt" >> $GITHUB_ENV

      - name: HTTPXer 
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          timeout 600 docker run --rm -v "$PWD:/data" projectdiscovery/httpx -l "/data/${{env.LATEST_SCOPE_SUBDOMAINS}}" -cl -sc -title -wc -silent -json -o "/data/httpx.json" || echo "Httpx timed out!"

      - name: HTTPXer parser
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          python engine/httpx_parser.py ${{ env.LATEST_SCOPE_ID }} httpx.json 
          python engine/filter_httpx.py ${{ env.LATEST_SCOPE_ID }} httpx.json > "./storage/projects/${{ env.LATEST_SCOPE_TAG }}/${{ env.LATEST_SCOPE_NAME }}/${{ env.LATEST_SCOPE_NAME }}.urls.txt"
          echo "LATEST_SCOPE_URLS=./storage/projects/${{ env.LATEST_SCOPE_TAG }}/${{ env.LATEST_SCOPE_NAME }}/${{ env.LATEST_SCOPE_NAME }}.urls.txt" >> $GITHUB_ENV

      - name: Commit & push back to storage branch
        working-directory: storage
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "Update storage" || echo "No changes to commit"
          git push origin storage



      - name: Nuclei default (exposures)
        env:
          TELEGRAM_BOT: ${{ secrets.TELEGRAM_BOT }}
          TELEGRAM_GROUP: ${{ secrets.TELEGRAM_GROUP }}
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          docker run -v "$PWD:/data" projectdiscovery/nuclei:latest -l "/data/${{env.LATEST_SCOPE_URLS}}" -severity critical,high,medium -t http/exposures/ -o "/data/${{env.LATEST_SCOPE_NAME}}.exposures.txt" -header 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36'
          python engine/send_nuclei_tg.py "${{env.LATEST_SCOPE_NAME}}.exposures.txt"
          rm -f "${{env.LATEST_SCOPE_NAME}}.exposures.txt"

      - name: Nuclei default (misconfigs)
        env:
          TELEGRAM_BOT: ${{ secrets.TELEGRAM_BOT }}
          TELEGRAM_GROUP: ${{ secrets.TELEGRAM_GROUP }}
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          docker run -v "$PWD:/data" projectdiscovery/nuclei:latest -l "/data/${{env.LATEST_SCOPE_URLS}}" -severity critical,high,medium -t http/misconfiguration/ -o "/data/${{env.LATEST_SCOPE_NAME}}.misconfigs.txt" -header 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36'
          python engine/send_nuclei_tg.py "${{env.LATEST_SCOPE_NAME}}.misconfigs.txt"
          rm -f "${{env.LATEST_SCOPE_NAME}}.misconfigs.txt"

      - name: Nuclei default (takeovers)
        env:
          TELEGRAM_BOT: ${{ secrets.TELEGRAM_BOT }}
          TELEGRAM_GROUP: ${{ secrets.TELEGRAM_GROUP }}
        if: env.LATEST_SCOPE_NAME != '' && env.LATEST_SCOPE_TYPE == 'domains'
        run: |
          docker run -v "$PWD:/data" projectdiscovery/nuclei:latest -l "/data/${{env.LATEST_SCOPE_URLS}}" -t http/takeovers/ -o "/data/${{env.LATEST_SCOPE_NAME}}.takeovers.txt" -header 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36'
          python engine/send_nuclei_tg.py "${{env.LATEST_SCOPE_NAME}}.takeovers.txt"
          rm -f "${{env.LATEST_SCOPE_NAME}}.takeovers.txt"


